.specs {
  display: flex;
  flex-direction: column;
  gap: var(--size-1);
  padding-block: var(--size-3);
  border-top: 1px solid var(--color-border-muted);
  border-bottom: 1px solid var(--color-border-muted);
}

.row {
  display: flex;
  justify-content: space-between;
  gap: var(--size-2);
}
