.body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100dvw;
  gap: var(--size-3);
  min-height: 100dvh;
  background-color: var(--color-bg);
}

.main {
  display: flex;
  flex-direction: column;
  gap: var(--size-3);
  padding-inline: var(--size-5);
  max-width: 72rem;
  width: 100%;
  margin-inline: auto;

  @media (width <= 480px) {
    padding-inline: var(--size-3);
  }
}
