.iconButton {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 2.5rem;
  width: 2.5rem;
  background-color: var(--color-bg);
  color: var(--color-text);
  border-width: var(--border-size-1);
  border-style: solid;
  border-color: var(--color-border);
  border-radius: var(--radius-2);
  transition:
    background-color 0.15s ease-out,
    border-color 0.15s ease-out;
  flex-shrink: 0;
}

.iconButton:hover {
  background-color: var(--color-hover-bg);
  border-color: var(--color-text-muted);
}

.iconButton:active {
  background-color: var(--color-active-bg);
}

.iconButton:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.iconButton > svg {
  height: var(--size-3);
  width: var(--size-3);
}
