.details {
  display: grid;
  border: var(--border-size-1) solid var(--color-border);
  border-radius: var(--radius-2);
  padding-inline: var(--size-3);
}

.details::details-content {
  height: 0;
  overflow: hidden;
  transition:
    height 0.3s,
    content-visibility 0.3s;
  transition-behavior: allow-discrete;
}

.details[open] {
  gap: var(--size-2);
}

.details[open] > .summary > svg {
  transform: rotate(180deg);
}

.details[open]::details-content {
  height: auto;
  padding-bottom: var(--size-3);
}

.summary {
  display: flex;
  cursor: pointer;
  align-items: center;
  background-color: transparent;
  border: none;
  justify-content: space-between;
  min-height: 2.5rem;
  gap: var(--size-2);
}

.summary::-webkit-details-marker {
  display: none;
}

.icon {
  height: var(--size-3);
  width: var(--size-3);
  transition: transform 0.3s var(--ease-in-out-3);
}

.content {
  display: grid;
  gap: var(--size-3);
}
