.link {
  font-family: var(--font-sans);
  font-size: var(--font-size-1);
  font-weight: 400;
  color: inherit;
  position: relative;
  text-decoration: none;
  width: fit-content;
  padding-block: var(--size-2);
  transition: color 0.3s ease-out;
}

.link::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: currentColor;
  opacity: 0.5;
  transition: width 0.3s ease-out;
}

.link:hover {
  color: var(--color-accent);
}

.link:hover::after {
  width: 100%;
}
