.base {
  font-family: var(--font-sans);
  margin: 0;
}

.uppercase {
  text-transform: uppercase;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.muted {
  color: var(--color-text-muted);
}

.noWrap {
  white-space: nowrap;
}
