.base {
  font-family: var(--font-sans);
}

.body {
  font-size: var(--font-size-1);
  font-weight: 400;
  line-height: var(--font-lineheight-3);
}

.label {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: var(--font-lineheight-2);
}

.uppercase {
  text-transform: uppercase;
}
