.list {
  display: flex;
  align-items: center;
  gap: var(--size-2);
  list-style: none;
  min-height: var(--size-5);
  text-transform: capitalize;

  & svg {
    width: var(--size-4);
    height: var(--size-4);
  }
}

.item {
  display: flex;
  align-items: center;
  gap: var(--size-2);
}

.current {
  color: var(--color-text-muted);
}

.link {
  display: inline-flex;
  align-items: center;
  padding-block: var(--size-1);
}
