@keyframes backdropFade {
  from {
    background-color: transparent;
  }
  to {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.dialog {
  display: grid;
  position: fixed;
  inset: 0;
  border: var(--border-size-1) solid var(--color-border);
  max-height: 100vh;
  background-color: var(--color-bg);
  padding: var(--size-4);
  grid-template-rows: auto 1fr;
  gap: var(--size-4);
  border-radius: var(--radius-2);
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
}

.dialog[open]::backdrop {
  animation: backdropFade 0.3s ease forwards;
}

.center {
  width: var(--size-15);
  height: fit-content;
  max-width: 90vw;
  max-height: 85vh;
  inset: unset;
  top: 50%;
  left: 50%;
  grid-template-rows: auto auto;
  transform: translate(-50%, -50%) scale(0.95);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
}

.center[open] {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
}

.aside {
  margin-left: auto;
  height: 100vh;
  width: var(--size-13);
  transform: translateX(100%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
}

.aside[open] {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

@media (width <= 480px) {
  .aside {
    width: 100vw;
    height: 80vh;
    margin-inline: 0;
    margin-top: auto;
    transform: translateY(100%);
    max-width: 100vw;
  }

  .aside[open] {
    transform: translateY(0);
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.section {
  display: grid;
}
