.header {
  padding-block: var(--size-3);
  padding-inline: var(--size-5);
  border-bottom: 1px solid var(--color-border-muted);

  @media (width <= 480px) {
    padding-inline: var(--size-3);
  }
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: var(--size-2);
}

.logo {
  display: flex;
  align-items: center;
  gap: var(--size-2);

  & > svg {
    --size: var(--size-6);
    width: var(--size);
    height: var(--size);
  }
}

.nav {
  display: flex;
  align-items: center;
  gap: var(--size-3);
}

.iconLink {
  display: inline-flex;
  align-items: center;
  padding: var(--size-2);
  border-radius: var(--radius-2);
  transition: background-color 0.15s var(--ease-2);

  &:hover {
    background-color: var(--color-hover-bg);
  }
}
