.skipLink {
  position: absolute;
  top: -100%;
  left: var(--size-3);
  padding: var(--size-2) var(--size-3);
  background-color: var(--color-accent);
  color: var(--color-text);
  border-radius: var(--radius-2);
  font-weight: 600;
  z-index: 100;
  transition: top 0.3s var(--ease-in-out-3);

  &:focus {
    top: var(--size-3);
  }
}
