.base {
  font-weight: 600;
  letter-spacing: -0.025em;
}

.display1 {
  font-size: var(--font-size-6);
  line-height: var(--font-lineheight-0);
}

.display2 {
  font-size: var(--font-size-5);
  line-height: var(--font-lineheight-0);
}

.display3 {
  font-size: var(--font-size-4);
  line-height: var(--font-lineheight-1);
}

.display4 {
  font-size: var(--font-size-3);
  line-height: var(--font-lineheight-1);
}
