.footer {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas:
    "copyright  reach-out"
    "stack      links";
  column-gap: var(--size-5);
  row-gap: var(--size-1);
  padding: var(--size-5);
  border-top: 1px solid var(--color-border-muted);

  @media (width < 640px) {
    grid-template-columns: 1fr;
    grid-template-areas:
      "copyright"
      "stack"
      "reach-out"
      "links";
  }
}

.copyright {
  grid-area: copyright;
}

.reachOut {
  grid-area: reach-out;
}

.stack {
  grid-area: stack;
  display: flex;
  align-items: center;
  gap: var(--size-2);
  flex-wrap: wrap;
}

.pills {
  list-style: none;
  display: flex;
  gap: var(--size-2);
}

.links {
  grid-area: links;
  display: flex;
  align-items: center;
  gap: var(--size-2);
}
